$primary-color: #5ABEAF;
$secondary-color: #505050;
$white: #FFF;
$title: 'Montserrat', sans-serif;
$font: 'Raleway', sans-serif;

html {
    scroll-behavior: smooth;
}

body {
    margin:  0;
    padding: 0;
    font-family: $font;
    font-size: 14px;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 16px;
    }
}

/* Content Tools */

/* Center (default) */
[data-editable] iframe,
[data-editable] image,
[data-editable] [data-ce-tag=img],
[data-editable] img,
[data-editable] video {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

/* Left align */
[data-editable] .align-left {
    clear: initial;
    float: left;
    margin-right: 0.5em;
}

/* Right align */
[data-editable].align-right {
    clear: initial;
    float: right;
    margin-left: 0.5em;
}

/* Alignment styles for text in editable regions */
[data-editable] .text-center {
    text-align: center;
}

[data-editable] .text-left {
    text-align: left;
}

[data-editable] .text-right {
    text-align: right;
}

/* End Content Tools*/

.inner {
  margin: 0 10%;
}

@media screen and (min-width: 1024px) {
    .inner {
      margin: 0 150px;
    }
}

@media screen and (min-width: 1700px) {
    .inner {
      margin: 0 350px;
    }
}

.title {
    color: $primary-color;
    font-weight: bold;
    font-size: 30px;
    font-family: $title;
}

.read-more-link {
    color: $primary-color;
    font-weight: bold;
    text-decoration: none;
}

.read-more-link.white {
    color: $white;
}

.button {
    color: $white;
    margin: 0;
    padding: 10px 20px;
    border-radius: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 22px;

    background: linear-gradient(83deg, #fa6e64, #ff8c6c);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 0s ease infinite;
    -moz-animation: AnimationName 0s ease infinite;
    animation: AnimationName 0s ease infinite;

    @-webkit-keyframes AnimationName {
        0%{background-position:0% 56%}
        50%{background-position:100% 45%}
        100%{background-position:0% 56%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 56%}
        50%{background-position:100% 45%}
        100%{background-position:0% 56%}
    }
    @keyframes AnimationName {
        0%{background-position:0% 56%}
        50%{background-position:100% 45%}
        100%{background-position:0% 56%}
    }

    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}

@media screen and (min-width: 1024px) {
    .button {
        font-size: 24px;
        padding: 10px 20px;
    }
}

@media screen and (min-width: 1700px) {
    .button {
        font-size: 30px;
        padding: 10px 20px;
    }
}

.button:hover {
    cursor: pointer;
}
/* menu */
.menu {
    width: 100%;
    padding:  80px 100px;
    box-sizing: border-box;
    display: flex;
    position: fixed;
    display: none;
}

.menu_logo {
    width: 45%;
}

.menu_logo img {
    width: 100%;
}

.menu_items {
    font-size: 90px;
    right: 100px;
    position: absolute;
    color: $primary-color;
    z-index: 2;
}

.menu_mobile {
    width: 100%;
    position: fixed;
    font-size: 80px;
    font-weight: bold;
}

.menu_mobile ul {
    list-style: none;
    padding: 0;
    line-height: 1.7;
    margin-top: 150px;
    display: none;
}

.menu_mobile ul a {
    color: $secondary-color;
    text-decoration: none;
    position: relative;
}

.menu_mobile ul a:after {
    content: '';
    position: absolute;
    width: 100px;
    display: block;
    height: 10px;
    background-color:  $primary-color;
    bottom: -10px;
}

.menu_mobile ul a:hover {
    color: $primary-color;
    -webkit-transition: 0.5s; /* Safari */
    transition: 0.5s;
}

.menu_mobile ul a:hover::after {
    width: 100%;
    -webkit-transition: 0.5s; /* Safari */
    transition: 0.5s;

}

/* home */

.container .banner {
    background-image: url("../img/feet.png");
    background-repeat: no-repeat;
    background-size:100%;
    margin:0;
    padding: 0;
}

@media screen and (min-width: 1024px) {
    .container .banner {
        background-image: url("../img/voeten-home.png");
        border-radius: 0 0 200px 200px;
    }
}

.banner .banner-title  {
    padding-top: 50px;
    font-family: $title;
}

@media screen and (min-width: 1024px) {
    .banner .banner-title  {
        padding-top: 50px;
    }
}

.banner .banner-title p {
    font-size: 50px;
    font-weight: bold;
    color: $primary-color;
    margin: 0;
}

@media screen and (min-width: 1024px) {
    .banner .banner-title p {
        font-size: 50px;
        color: $white;
        text-shadow: 1px 1px 1px #000;
    }
}


@media screen and (min-width: 1700px) {
    .banner .banner-title p {
        font-size: 80px;
        margin-bottom: 50px;
    }
}


.banner .banner-text-mobile {
    margin-top: 26px;
}

.banner .banner-text p {
    display: none;
}

@media screen and (min-width: 1024px) {
    .banner .banner-text p {
        display: block;
        font-size: 26px;
        color: $white;
        margin: 0;
        text-shadow: 1px 1px 1px #000;
        font-family: $title;
    }

    .banner .banner-text-mobile {
        display: none;
    }
}

@media screen and (min-width: 1700px) {
    .banner .banner-text p {
        display: block;
        font-size: 36px;
        margin-top: -30px;
    }
}

.banner .banner-text-mobile p {
    font-size: 26px;
    color: $primary-color;
    margin: 0;
}

.banner-button {
    margin-top: 30px;
}

.home-about {
    margin-top: 50px;
    background-image: url("../img/wave.svg");
    background-repeat: no-repeat;
    background-position: bottom;

    .secondary-title {
        font-size: 22px;
        color: $secondary-color;
        font-weight: bold;
        font-family: $title;
    }

    @media screen and (min-width: 1024px) {
        .secondary-title {
            font-size: 28px;
        }
    }

    @media screen and (min-width: 1024px) {
        .secondary-title {
            font-size: 40px;
        }
    }

    @media screen and (min-width: 1024px) {
        .title {
            font-size: 50px;
            text-align: center;
        }
    }

    @media screen and (min-width: 1700px) {
        .title {
            font-size: 60px;
        }
    }

    .about-color-text {
        color: $primary-color;
        padding: 0 0 50px 0;
    }

      @media screen and (min-width: 1024px) {
          .about-color-text {
              padding:  0 0 50px 0;
          }
      }

    .about-image-button {
        width: 70%;
        background-color: $primary-color;
        padding: 10px;
        text-align: center;
        box-sizing: border-box;
        border-radius: 8px;
        color: $white;
        font-size: 22px;
        text-decoration: none;
        display: block;
        margin-top: -35px;
        position: absolute;
        left: 15%;
        text-transform: uppercase;
    }

    .about-image-button.desktop {
        display: none;
    }

      @media screen and (min-width: 1024px) {
          .about-image-button.desktop {
              width: 250px;
              padding: 10px;
              position: relative;
              left: 0%;
              font-size: 24px;
              border-radius: 4px;
          }
      }

      @media screen and (min-width: 1700px) {
          .about-image-button.desktop {
              width: 320px;
              font-size: 30px;
          }
      }

    .about-image {
        .image-layer-1 {
            .background-layer-1 {
                  width: 100%;
                  position: absolute;
                  z-index: -1;
                  margin-top: -60px;
              }

              @media screen and (min-width: 1024px) {
                .background-layer-1 {
                      width: 45%;
                      margin-top: -40px;
                      margin-left: -60px;
                  }
              }

              @media screen and (min-width: 1350px) {
                .background-layer-1 {
                      width: 38%;
                      margin-left: 0;
                  }

                  .image-layer2 {
                      padding:  0 70px;
                  }
              }

              @media screen and (min-width: 1700px) {
                .background-layer-1 {
                      width: 33%;
                      margin-left: -15px;
                  }
              }
        }

        img {
            width: 100%;
        }

        @media screen and (min-width: 1024px) {
            img {
                padding: 36px 25px;
            }
        }

        a.desktop {
            display: none;
        }

        @media screen and (min-width: 1024px) {
            a.desktop {
                display: block;
            }

            a.mobile {
                display: none;
            }
        }
    }

    @media screen and (min-width: 1024px) {
        .block {
            float: left;
            margin: 0;
        }

        .block.right {
            padding-right: 150px;
            width: 50%;
            box-sizing: border-box;
        }

        .block.left {
            padding-left: 150px;
            width: 50%;
            box-sizing: border-box;
        }

        .inner.desktop {
          margin: 0;
        }
    }

    @media screen and (min-width: 1700px) {
        .block.right {
            padding-right: 350px;
        }

        .block.left {
            padding-left: 350px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .home-about {
        float: left;
        margin-bottom: 100px;
        background-image: url("../img/wave2.svg");
    }
}

.home-info {
    margin-top: 70px;
    color: $white;
    clear: both;

    .info-text {
        padding: 50px 0 100px 0;

        background: rgba(90,190,175,1);
        background: -moz-linear-gradient(left, rgba(90,190,175,1) 0%, rgba(90,190,175,1) 22%, rgba(255,140,108,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(90,190,175,1)), color-stop(22%, rgba(90,190,175,1)), color-stop(100%, rgba(255,140,108,1)));
        background: -webkit-linear-gradient(left, rgba(90,190,175,1) 0%, rgba(90,190,175,1) 22%, rgba(255,140,108,1) 100%);
        background: -o-linear-gradient(left, rgba(90,190,175,1) 0%, rgba(90,190,175,1) 22%, rgba(255,140,108,1) 100%);
        background: -ms-linear-gradient(left, rgba(90,190,175,1) 0%, rgba(90,190,175,1) 22%, rgba(255,140,108,1) 100%);
        background: linear-gradient(to right, rgba(90,190,175,1) 0%, rgba(90,190,175,1) 22%, rgba(255,140,108,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5abeaf', endColorstr='#ff8c6c', GradientType=1 );

        .info-title {
            font-size: 30px;
            font-weight: bold;
            margin: 0 0 25px 0;
            font-family: $title;
        }

        @media screen and (min-width: 1024px) {
            .info-title {
                font-size: 50px;
                font-weight: bold;
            }
        }

        @media screen and (min-width: 1700px) {
            .info-title {
                font-size: 60px;
            }
        }

        .sec-info-title {
            font-size: 26px;
            font-weight: bold;
            margin: 0;
            font-family: $title;
        }

        @media screen and (min-width: 1024px) {
            .sec-info-title {
                font-size: 30px;
                margin: 0;
            }
        }

        @media screen and (min-width: 1700px) {
            .sec-info-title {
                font-size: 40px;
                margin: 20px;
            }
        }

        .info {
            padding: 10px 0;
        }

        @media screen and (min-width: 1024px) {
            .info {
              width: 40%;
              margin: 0 auto;
            }
        }
    }

    @media screen and (min-width: 1024px) {
        .info-text {
            text-align: center;
            padding: 50px 0 180px 0;
        }
    }

    .home-info-image {
        margin-top: -100px;
        background-image: url('../img/waves.png');
        background-repeat: no-repeat;
        background-position: bottom;
        padding-bottom: 200px;

        .image-layer-1 {
          .background-layer-1 {
                width: 100%;
                position: absolute;
            }

            @media screen and (min-width: 1024px) {
                .background-layer-1 {
                    display: none;
                }
            }

            .image-layer-2 {
                img {
                    width: 100%;
                    position: relative;
                    margin: 10% 0;
                }

                @media screen and (min-width: 1024px) {
                    img {
                        display: none;
                    }
                }

                .info-button {
                    position: relative;
                    margin-top: -15%;
                    text-align: center;
                }

                @media screen and (min-width: 1024px) {
                    .info-button {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    @media screen and (min-width: 1024px) {
        .home-info-image {
            background: none;
            padding-bottom: 90px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .home-info {
        margin-bottom: -40px;
    }
}

.home-testimonials {
    color: $white;
    font-size: 22px;

    .slide1 {
        background-image: url('../img/gigi.jpg');
        box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.4);
        background-repeat: no-repeat;
        background-position: center;
        padding: 50px 0;
        height: 400px
    }

    .slide2 {
        background-image: url('../img/Joke.png');
        box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.4);
        background-repeat: no-repeat;
        background-position: center;
        padding: 50px 0;
        height: 400px
    }

    .slide3 {
        background-image: url('../img/feet.png');
        box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.4);
        background-repeat: no-repeat;
        background-position: center;
        padding: 50px 0;
        height: 400px
    }

    .testimonial-titel {
        font-size: 30px;
        font-weight: bold;
        font-family: $title;
    }

    @media screen and (min-width: 1024px) {
        .testimonial-titel {
            font-size: 36px;
        }
    }

    @media screen and (min-width: 1700px) {
        .testimonial-titel {
            font-size: 60px;
        }
    }

    .testimonial-name {
        font-weight: bold;
    }

    @media screen and (min-width: 1024px) {
       .inner {
           margin: 0 50px;
       }
    }
}

@media screen and (min-width: 1024px) {
    .home-testimonials {
        font-size: 20px;
    }
}

@media screen and (min-width: 1700px) {
    .home-testimonials {
        font-size: 30px;
    }
}

.home-gallery {
    .gallery-image {
        img {
          width: 100%;
        }

        @media screen and (min-width: 1024px) {
            img {
                object-fit: cover;
                height: 500px;
            }
        }
    }
}

.arrow-left {
    position: absolute;
    color: $white;
    z-index: 1;
    font-size: 20px;
    left: 10px;
    top: 50%;
    ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media screen and (min-width: 1024px) {
    .arrow-left {
        font-size: 20px;
        left: 15px;
    }
}

.arrow-right {
    z-index: 1;
    position: absolute;
    color: $white;
    font-size: 20px;
    top: 50%;
    right: 10px;
    ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media screen and (min-width: 1024px) {
    .arrow-right {
        font-size: 20px;
        right: 15px;
    }
}

@media screen and (min-width: 1024px) {
     .slide {
         width: 50%;
         float: left;
     }
}

.maps {
    width: 100%;

    iframe {
        margin:  -10px 0;
    }
}

// arrow

.arrow
{
    position: fixed;
    bottom: -2rem;
    top: 40vh;
    right: -15px;
    margin-left:-20px;
    width: 70px;
    height: 40px;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding-top:68px;
    margin-bottom:50px;
}

@media screen and (min-width: 1024px) {
    .arrow {
        right: 0;
        width: 40px;
    }
}

.bounce {
    animation: bounce 2s infinite;
    padding: 50px 0;
}

@media screen and (min-width: 1024px) {
    .bounce {
        padding: 100px 60px;
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
