$primary-color: #5ABEAF;
$secondary-color: #505050;
$white: #FFF;

@font-face {
    font-family: "avenir";
    src: url("fonts/AvenirLTStd-Book.woff") format('woff');
}

body {
    margin:  0;
    padding: 0;
    /* font-family: avenir; */
    font-family: 'Montserrat', sans-serif;
}

.inner {
  margin: 0 100px;
}

.title {
    color: $primary-color;
    font-weight: bold;
    font-size: 64px;
}

.read-more-link {
    color: $primary-color;
    font-weight: bold;
    text-decoration: none;
}

.button {
    font-size: 60px;
    color: $white;
    margin: 0;
    padding: 20px 50px;
    border-radius: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 46px;

    background: linear-gradient(83deg, #fa6e64, #ff8c6c);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 0s ease infinite;
    -moz-animation: AnimationName 0s ease infinite;
    animation: AnimationName 0s ease infinite;

    @-webkit-keyframes AnimationName {
        0%{background-position:0% 56%}
        50%{background-position:100% 45%}
        100%{background-position:0% 56%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 56%}
        50%{background-position:100% 45%}
        100%{background-position:0% 56%}
    }
    @keyframes AnimationName {
        0%{background-position:0% 56%}
        50%{background-position:100% 45%}
        100%{background-position:0% 56%}
    }

    -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.3);
}

.button:hover {
    cursor: pointer;
}
/* menu */
.menu {
    width: 100%;
    padding:  80px 100px;
    box-sizing: border-box;
    display: flex;
    position: fixed;
}

.menu_logo {
    width: 45%;
}

.menu_logo img {
    width: 100%;
}

.menu_items {
    font-size: 90px;
    right: 100px;
    position: absolute;
    color: $primary-color;
    z-index: 2;
}

.menu_mobile {
    width: 100%;
    position: fixed;
    font-size: 80px;
    font-weight: bold;
}

.menu_mobile ul {
    list-style: none;
    padding: 0;
    line-height: 1.7;
    margin-top: 150px;
    display: none;
}

.menu_mobile ul a {
    color: $secondary-color;
    text-decoration: none;
    position: relative;
}

.menu_mobile ul a:after {
    content: '';
    position: absolute;
    width: 100px;
    display: block;
    height: 10px;
    background-color:  $primary-color;
    bottom: -10px;
}

.menu_mobile ul a:hover {
    color: $primary-color;
    -webkit-transition: 0.5s; /* Safari */
    transition: 0.5s;
}

.menu_mobile ul a:hover::after {
    width: 100%;
    -webkit-transition: 0.5s; /* Safari */
    transition: 0.5s;

}

/* home */

.container .banner {
    background-image: url("../img/feet.png");
    background-repeat: no-repeat;
    background-size:100%;
    margin:0;
    padding: 0;
}

.banner .banner-title  {
    padding-top: 275px;
}

.banner .banner-title p {
    font-size: 120px;
    font-weight: bold;
    color: $primary-color;
    margin: 0;
}

.banner .banner-text {
    margin-top: 50px;
}

.banner .banner-text p {
    font-size: 60px;
    color: $primary-color;
    margin: 0;
}

.banner-button {
    margin-top: 90px;
}

.home-about {
    margin-top: 100px;

    .secondary-title {
        font-size: 60px;
        color: $secondary-color;
        font-weight: bold;
    }

    .about-color-text {
        color: $primary-color;
        padding: 50px 0;
    }

    .about-image {
        img {
            width: 100%;
        }

        a {
            width: 70%;
            background-color: $primary-color;
            padding: 20px;
            text-align: center;
            box-sizing: border-box;
            border-radius: 8px;
            color: $white;
            font-size: 54px;
            text-decoration: none;
            display: block;
            margin-top: -50px;
            position: absolute;
            left: 15%;
            text-transform: uppercase;
        }
    }
}
