$primary-color: #5ABEAF;
$secondary-color: #505050;
$white: #FFF;

@font-face {
    font-family: "avenir";
    src: url("fonts/AvenirLTStd-Book.woff") format('woff');
}

body {
    margin:  0;
    padding: 0;
    /* font-family: avenir; */
    font-family: 'Montserrat', sans-serif;
}

.desktop-menu   {
    background-color: #ffffff;
    width: 100vw;
    float: left;
    padding: 10 0 0 100;
    z-index: 11111;
    display: block;
    transition: all ease .5s;
    box-shado: 0px 0px 5px 1px #ababab;
    border-bottom: solid 2px #5abeaf;
    overflow: hidden;
}
#logo{
    color: #fff;
    float: left;
    width: 12%;
    height: auto;
    padding-top: 10px;
    margin-right: 40px;
    transition: all ease .5s;
        }

ol, ul {
    list-style: none;
    padding: 0;
}
li {
    display: inline-block;
    padding: 0px 0 0px;
    vertical-align: middle;
}
a:hover, a:focus, a:active {
    color: #5abeaf;
    text-decoration: none;
}
a {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    display: block;
    color: #686868;
    padding: 16px 0;
    margin: 0 16px;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    text-transform: none;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
}
a::before { 
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    border-radius: 100px;
    height: 2px;
    width: 100%;
    background-color: #5abeaf;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}
a:active::before {
    background-color: #5abeaf;
}
a:hover::before, a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}
.topbar {
    background: #5abeaf;
    display: block;
    width: 100%; 
    z-index: 22222;
    color: #fff;
    padding-left: 100px;
    padding-top: .55em;
    padding-bottom: .55em;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.content {
  padding: 16px;
}
.sticky + .content {
  padding-top: 60px;
}
i {
    padding: 0px 10px 0px 40px;
}
i:first-child {
    padding: 0px 10px 0px 0px;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  
.desktop-menu   {
    background-color: #ffffff;
    width: 100vw;
    float: left;
    padding: 10 0 0 100;
    z-index: 11111;
    display: block;
    transition: all ease .5s;
    box-shado: 0px 0px 5px 1px #ababab;
    border-bottom: solid 2px #5abeaf;
    overflow: hidden;
}
#logo{
    color: #fff;
    float: left;
    width: 12%;
    height: auto;
    padding-top: 10px;
    margin-right: 40px;
    transition: all ease .5s;
        }

ol, ul {
    list-style: none;
    padding: 0;
}
li {
    display: inline-block;
    padding: 0px 0 0px;
    vertical-align: middle;
}
a:hover, a:focus, a:active {
    color: #5abeaf;
    text-decoration: none;
}
a {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    display: block;
    color: #686868;
    padding: 16px 0;
    margin: 0 16px;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    text-transform: none;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
}
a::before { 
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    border-radius: 100px;
    height: 2px;
    width: 100%;
    background-color: #5abeaf;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}
a:active::before {
    background-color: #5abeaf;
}
a:hover::before, a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}
.topbar {
    background: #5abeaf;
    display: block;
    width: 100%; 
    z-index: 22222;
    color: #fff;
    padding-left: 100px;
    padding-top: .55em;
    padding-bottom: .55em;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.content {
  padding: 16px;
}
.sticky + .content {
  padding-top: 60px;
}
i {
    padding: 0px 10px 0px 40px;
}
i:first-child {
    padding: 0px 10px 0px 0px;
} 
    
    